<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + JS</title>
    
    <meta name="description" content="Dualite Alpha Generated Project" />
    <meta name="author" content="Alpha" />

    <meta property="og:title" content="vite + react + ts" />
    <meta property="og:description" content="Dualite Alpha Generated Project" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://ibb.co/DDJYqjHz" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="vite + react + ts" />
    <meta name="twitter:description" content="Dualite Alpha Generated Project" />
    <meta name="twitter:site" content="@dualitedev" />
    <meta name="twitter:image" content="https://ibb.co/DDJYqjHz" />

  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
